.cache
scalastyle-output.xml
.classpath
.idea
.metadata
.settings
.project
.version.properties
filter.properties
logs.zip
target
tmp
*.class
*.iml
*.swp
*.jar
*.log
.DS_Store
_site
docs/api
build-target
atlassian-ide-plugin.xml
out/

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
